<title>SimpleChat</title>

<meta charset="utf-8">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

<link rel="stylesheet" href="/static/css/master.css">
<link rel="stylesheet" href="/static/css/topbar.css">
<link rel="stylesheet" href="/static/css/sidebar.css">
<link rel="stylesheet" href="/static/css/home.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js" charset="utf-8"></script>

<script src="static/js/main.js" charset="utf-8"></script>
